.standardMouseOverBounce{

  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
              box-shadow 0.3s ease;

      &:hover {
    // left: 2px;
    // top: 2px;
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: rgb(255, 255, 255) 0 0 0 0;
  }
}


.subtleMouseOverBounce{

  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
              box-shadow 0.3s ease;

      &:hover {
    // left: 2px;
    // top: 2px;
    cursor: pointer;
    transform: scale(0.98);
    box-shadow: rgb(255, 255, 255) 0 0 0 0;
  }
}


.subtleMouseOverBounce{

  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
              box-shadow 0.3s ease;

      &:hover {
    // left: 2px;
    // top: 2px;
    cursor: pointer;
   transform: scale(1.02);
    box-shadow: rgb(255, 255, 255) 0 0 0 0;
  }
}

