:root {
  /* Light Mode */
  --light-bg: #f2f2f2;
  --light-bg-transparent: #f9f9f9f1;
  --light-text: #2E2E2E;
  --light-secondary-text: #6C6C6C;
  --light-card-bg: #FFFFFF;
  --light-border: #474747;
  --light-accent: #d44742; /* Corrected variable name */
  --light-link: #4A90E2;
  --light-hero-bg: rgb(175, 93, 100); 
  /* Dark Mode */
  --dark-bg: #1A1A1A;
  --dark-bg-transparent: #1a1a1af3;
  --dark-text: #E0E0E0;
  --dark-secondary-text: #A0A0A0;
  --dark-card-bg: #262626;
  --dark-border: #404040;
  --dark-accent: #d44742; /* Corrected variable name */
  --dark-link: #6BB9F0;
  --dark-hero-bg: #456882;

  /* Spacing (Padding and Margins) */
  --padding-small: 10px;
  --padding-medium: 15px;
  --padding-large: 36px;
  --spacing-small: 10px;

  /* Glass Effect */
  --glass-bg: #f9f9f9ce;
  --glass-border-radius: 16px;
  --glass-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --glass-blur: 5px;
  --glass-border: 1px solid rgba(255, 255, 255, 0.3);

  --dark-glass-bg: rgba(0, 0, 0, 0.71);
  --dark-glass-border: 1px solid rgba(255, 255, 255, 0.4);
  --dark-glass-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  --dark-glass-blur: 5px;

  /* Font Size */
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-weight-bold: 600;
 
  // HEIGHTS

  --nav-height: 0px;
  --content-height: calc(100vh - var(--nav-height));
  --content-height-half: calc(0.5 * (100vh - var(--nav-height)));

  /* Border Radius */
  --border-radius: 24px;

  /* Blur Effect */
  --blur-radius: 15px;

  /* General Colors */
  --primary-color: #2E2E2E;
  --secondary-color: #6C6C6C;
  --accent-color: var(--light-accent); /* Use --light-accent as the default */
  --link-color: #4A90E2;
  --herobg: var(--light-hero-bg);
  /* Default Theme (Light Mode) */
  --bg: var(--light-bg);
  --bg-transparent: var(--light-bg-transparent); /* Add transparent background for light mode */
  --text-color: var(--light-text);
  --secondary-text: var(--light-secondary-text);
  --card-bg: var(--light-card-bg);
  --border-color: var(--light-border);
  --accent: var(--light-accent); /* Use --light-accent as the default */
  --link: var(--light-link);
}

[data-theme="dark"] {
  /* Dark Mode Overrides */
  --bg: var(--dark-bg);
  --bg-transparent: var(--dark-bg-transparent); /* Add transparent background for dark mode */
  --text-color: var(--dark-text);
  --secondary-text: var(--dark-secondary-text);
  --card-bg: var(--dark-card-bg);
  --border-color: var(--dark-border);
  --accent: var(--dark-accent); /* Use --dark-accent in dark mode */
  --link: var(--dark-link);
  --herobg: var(--dark-hero-bg);
  --accent-color: var(--dark-accent); /* Use --dark-accent for --accent-color */

  /* Dark Glass Mode Overrides */
  --glass-bg: var(--dark-glass-bg);
  --glass-border: var(--dark-glass-border);
  --glass-box-shadow: var(--dark-glass-box-shadow);
  --glass-blur: var(--dark-glass-blur);
}


