/* General Body Styling */
body {
  background-color: var(--bg); /* Background color based on theme */
  color: var(--text-color); /* Text color based on theme */

  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  font-size: var(--font-size-base); /* Base font size */
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for theme change */
}

/* Background Styling */
body {
  background-color: var(--bg); /* Light or dark background */
  color: var(--text-color); /* Light or dark text */
  font-family: "Newsreader", serif;
}

/* Standardizing Text */
h1, h2, h3, h4, h5, h6, p, span {
  color: var(--text-color); /* Ensure text color is consistent */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.glass {
  background: var(--glass-bg);
  border-radius: var(--glass-border-radius);
  box-shadow: var(--glass-box-shadow);
  backdrop-filter: blur(var(--glass-blur));
  -webkit-backdrop-filter: blur(var(--glass-blur));
  border: var(--glass-border);
}
.glassButton {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  
  border-radius: 8px;
  

}

h1, h2, h3 {
  font-weight: 300;
  font-family: "Newsreader", serif;
}

/* Links and Hover Effects */
a {
  color: var(--primary-color); /* Link color based on theme */
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* Standardizing Card-like Components */
.card {
  background-color: var(--card-bg); /* Light or dark card background */
  border: 1px solid var(--border-color); /* Border color */
  border-radius: var(--border-radius);
  padding: var(--padding-medium);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Additional Elements */
button {
  background-color: var(--bg);
  color: var(--text-color);
  border: none;
  border-radius: var(--border-radius);
  padding: var(--padding-small) var(--padding-medium);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--hover-text-color);
}

// AboutPage.module.scss
.GenericPageContainer {
  max-width: 1200px; // Limit the width for better readability
  margin: 0 auto; // Center the container
  padding: 20px; // Add padding around the entire container

  section {
    margin-bottom: 40px; // Add space between sections

    h2 {
      margin-bottom: 10px; // Space below h2 headings
    }

    h3 {
      margin-bottom: 10px; // Space below h3 headings
    }

    h5 {
      margin-bottom: 10px; // Space below h5 headings
    }

    p {
      margin-bottom: 15px; // Space between paragraphs
    }

    pre {
      margin-bottom: 20px; // Space below the code block
      padding: 15px; // Add padding inside the code block
      overflow-x: auto; // Allow horizontal scrolling for long code
    }
  }
} 

.horizontalContainer { 
  display: flex;

  > * { 
    overflow: hidden;
    flex: 1;  // Ensures all children take up equal space
    width: auto; // Optional, but ensures width is determined by flex
  }
}

.codeEmbed { 
  // Add styles for code embed if needed
}

.ScrollSpacer { 
  height: 3rem;
}

h1 {
  font-size: 48px;
}