.sm {
    // background-color: red;
    display: flex;
    align-items: flex-start;
    height: 100vh;
    // background-color: orange;
    justify-content: flex-start;

    .TextSection {
        // background-color: orange;
        padding: 1rem;
        padding-top: 3rem;
        // padding-top: var(--mobileTopNavSafeArea);
        gap: 12px;
        display: flex;
        flex-direction: column;
        // background-color: red;
    }

    .TitleSVG {
        width: 100%;
        max-width: 400px;
        transform: translateY(-50px);
        height: auto;
        overflow: visible;
    }

    .TitleText {
        font-size: 2rem;
        font-weight: bold;
        fill: var(--text-color);
        padding: 0;
        // background-color: red;
        margin: 0;
        text-align: left;
    }


    .Title {
        font-size: 64px;
        font-weight: 100;
    }

    .Subtitle {
        font-size: 18px;
        margin-top: -24px;
        font-style: italic;
    }

    .para {
        font-size: 12px;
    }

    .highlight {
        font-weight: bold;
    }


      .bottomSection {
    position: absolute;
    bottom: 0;
    
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    // background-color: red;
  }

  .art {
    margin: 0;
    padding: 0 0 0 0;
    width: 390px;
    transform: translateY(6px);
    display: inline-block;
    flex-shrink: 0;
  }

  .darkContainer {
    background-color: var(--border-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    flex-grow: 1;
    overflow: hidden;
    border-top: 1px solid var(--bg);
  }

  .QualsList { 
    // background-color: blue;
    display: flex;
    flex-direction: column;
    background-color: red;
    gap: 1rem;


    .QualItem {
  padding: 12px;
  text-align: start;
  min-width: 80px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2px;

  .QualificationLevel {
    font-size: 0.8rem;
  }
  .QualificationField {
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
  }
  .QualificationDetails {
    font-size: 0.8rem;
  }
}



}


}
