
/* ==================== */
/* Home Page Container */
/* ==================== */


.HomePageContainer {

  &.sm {
    background-color: var(--herobg);
    height: var(--content-height);
    width: 100vw;
    position: relative;
    overflow-x: hidden;

    .ScrollContainer {
height: var(--content-height);// Make it fill the viewport height
      overflow-y: scroll; // Enable scrolling
      scroll-snap-type: y mandatory;
    }

    .sm_fp,
    .sm_free {
height: var(--content-height);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      scroll-snap-align: start;
    }

    // Other styles...
  


    .sm_free,
    .sm_fp {
height: var(--content-height);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      scroll-snap-align: start;
    }

   
        // height: 100%;

    .sm_half,
    .sm_25 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      background-color: var(--text-color);
      scroll-snap-align: start;

      * {
        color: var(--bg);
      }
    }

    .sm_half {
      height: 50vh;
    }

    .sm_25 {
      height: 25vh;
    }

    .textSection {
      position: static;
      background-color: var(--accent-color);
    }
  }

  &.lg {
 
      height: 100vh;

      width: 100vw;
      background-color: var( --herobg);
      display: flex;
      align-items: center;
      // background-color: red;
      justify-content: center;
      // background-color: red;
      // background-color: red;
      height: 100vh;
      .ScrollContainer { 
        // background-color: red;
        // border: 1px solid red;
        max-height: 500px;
        height: 500px; // Ensure a fixed height for reference
        display: flex;
        flex-direction: column;
        position: relative;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }
    
    .container {
        height: 100%; // Fill the full height of .ScrollContainer
        min-height: 100%; // Ensures it doesn't collapse
        scroll-snap-align: start;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
}