.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  user-select: none;
}

.divider {
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--border-color);
}
