.container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

.divider {
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;

    /* background-color: white; */
    background-color: var(--border-color);
    /* border-left: 1px solid var(--border-color); */
    /* border-top: none; */
    /* border-bottom: 1px solid var(--bg); */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    pointer-events: none;
}
