.glassOverlay {
  position: relative;
  overflow: hidden;
  will-change: transform;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;


//   background-color: red;
}

.glassEffect {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  pointer-events: none;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.111), rgba(255, 255, 255, 0.02) 80%),
              linear-gradient(135deg, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 60%);
  mix-blend-mode: screen;
  filter: blur(40px) saturate(1.5);
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.08s ease-out;
  transform: translate(-50%, -50%);
}

.debugInfo {
  position: absolute;
  bottom: 8px;
  left: 8px;
  font-family: monospace;
  font-size: 0.75rem;
  color: #aaa;
  pointer-events: none;
}

