.dataContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; // 0.5rem = 8px
}

.infoChunk {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: var(--maxWidth);
  margin: 0 auto;
  padding: 16px; // 1rem = 16px
  color: var(--text-color);
  width: 100%;
}

._sectionHeader {
  display: flex;
  align-items: center;
  background-color: var(--text-color);
  color: var(--bg);
  padding: 16px;
  font-style: italic;
  width: 100%;
  max-width: var(--maxWidth);
}

.buttonContainer {
  width: 100%;
  display: flex;
  gap: 12px;
}