.HomePageContainer { 
    background-color: red;
}


.HeroTextSection { 
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.socials { 
    display: flex;
}