.HomePageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--accent-color);
    min-height: 100vh;
    width: 100vw;
  
    // Responsive classes
    &.sm {
      // Styles for small screens

        height: 100vh;
        width: 100vw;
      .HeroSection {
        flex-direction: column;
        padding: var(--padding-medium);
 
  
        .HeroTextSection {
            position: absolute;
            top: 48px;
            right: 24px;
                 
          max-width: 100%;
          text-align: flex-end;
          align-items: flex-end;
          width: 60%;
          display: flex;
          gap: 12px;
        }
  
        .HeroTitle {
          font-size: 64px; // Smaller font size for small screens
        }
        .HeroSubtitle { 
            font-size: 18px;
            // font-weight: bolder;
            font-style: ita;
        }
        .HeroP { 
            font-size: 16px;
            
        }
        .HeroArt {
            // padding: 24px;
            position: absolute;
            left: -140px;
            // transform: translateX(-10px);
            bottom: 12px;
                padding: 0;
                margin: 0;
        
            img {
              height: 70vh;
              width: 100%;
            }
          }
      }
    }
  
    &.lg {
      // Styles for large screens
      .HeroSection {
        max-width: 1000px;
        padding: var(--padding-large);
  
        .HeroTextSection {
          max-width: 60%;
          text-align: start;
          align-items: start;
        }
  
        .HeroTitle {
          font-size: 64px; // Larger font size for large screens
        }
  
        .HeroArt {
          padding: 24px;
        }
        .HeroArt {
            // padding: 24px;
          
        
            img {
              height: 70vh;
              width: 100%;
            }
          }
      }
    }
  }
  
  .HeroSection {
    display: flex;
    max-width: 1000px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-large);
  
    .HeroTextSection {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      text-align: center;
      max-width: 60%;
      padding: 12px;
    }
  
    .HeroTitle {
      font-weight: 100;
      font-size: 64px;
    }
  
    .HeroP {
      text-align: left;
    }
  
    .HeroSubtitle {
      text-align: left;
    }
  
    .socials {
      padding: 0;
      list-style: none;
      display: flex;
      align-items: start;
      color: var(--text-color);
    }
  
    
  }
  
  .socials {
    li {
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: var(--text-color);
    }
  }
  
  .ProjSection {
    h2 {
    }
  
    .ProjectCards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  
      .ProjectCard {
        h3 {
        }
  
        p {
        }
      }
    }
  }