.HomePageContainer {
}

.HeroSection {
    display: flex;

    .HeroTextSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .HeroArt {
        img {
        }
    }
}

.socials {
    display: flex;
    list-style-type: none;

    li {
        a {
        }
    }
}

.HeroTitle {
    * {
    }
}

.HeroSubtitle {
    * {
    }
}

.HeroP {
    p {
    }
}

.ProjSection {
    h2 {
    }

    .ProjectCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .ProjectCard {
            h3 {
            }

            p {
            }
        }
    }
}