.sm {
    // background-color: red;
height: var(--content-height);
    overflow-y: scroll;
    position: relative;
    scroll-snap-type: y mandatory; // Enables vertical snap behavior
    

    .sm_fp {
        height: var(--content-height);
        background-color: var(--accent-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        scroll-snap-align: start; //
        
       .textSection { 
        // background-color: red;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        align-items: center;
        top: 30%;
       }
}

    .sm_half { 
        height: var(--content-height-half);
        // background-color: orange;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        background-color: var(--text-color);
    
        color: red;
        * { 
            color: var(--bg);
        }
        justify-content: center;
        text-align: center;
        scroll-snap-align: start; 
    }

    .sm_25 { 
        height: 25vh;
        // background-color: orange;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        background-color: var(--text-color);
    
        // color: red;
        * { 
            color: var(--bg);
        }
        justify-content: center;
        text-align: center;
        scroll-snap-align: start; 
    }

    .smHeaderImage { 
        // width: 100%;
        max-width: 600px;
        position: absolute;
        bottom: calc(var(--nav-height) - 64px);
        // background-color: red;
        // z-index: 501;
        pointer-events: none;
    }

    .textSection { 
        // background-color: red;
        position: static;
        background-color: var(--accent-color);
    }

    .title { 
        font-weight: 100;
        font-size: 64px; 
    }

}
.lg {
    // background-color: red;
    padding: 120px;
    position: relative;
    
    .divider { 
        height: 2px;
        width: 1024;
        min-width: 150%;
        background-color: var(--text-color);
    }
    .headerImage { 
    //    background-color: red;
       position: absolute;
       top: 0px;
       transform: translateY(-135px);
       z-index: 2;
    
       
       height: 300px;
      }
    .ProjectContainer {
      display: flex;
      flex-wrap: wrap;
      
      /* Optional: You can specify a gap between the cells */
      gap: 12px; 
  
      .ProjectCell {
        flex: 1 1 43%; /* Ensures each cell takes up 48% of the container width and wraps when necessary */
        /* You can adjust the min-width if you'd like to add more control */
        // min-width: 200px; /* Optional: to ensure a minimum size for each cell */
      }
    
    }
    .textSection { 
        margin-top: 120px;
        // background-color: red;
        position: relative;
        // background-color: var(--accent-color);
    }
  }
