.sm {
    background-color: red;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory; // Enables vertical snap behavior

    .sm_fp {
        height: 100vh;
        background-color: orange;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        scroll-snap-align: start; // Ensures each section aligns perfectly when scrolling
    }
}

.textSection{ 
    // background-color: green;
}