.card {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    gap: 1rem;
    border: 1px solid var(--border-color);

    padding: 1rem;
}
.bgcontainer {
    z-index: 1;
}

.cardHeader {
    /* background-color: red; */
    z-index: 2;
    display: flex;
    gap: 1rem; /* corrected from 'flex-gap' */
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
    margin-top: 10%;
    /* width: 60%; */

    .title {
        font-size: clamp(2rem, 4rem, 5rem);
        font-weight: 500;
    }
}

.ImagesContainer {
    z-index: 2;
    display: flex;
    /* background-color: red; */
    transform: translateY(5%);
    position: relative;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
}

.FloatingImage {
    transition: all 0.3s ease;
}
.sub1 {
    /* desktop  */
    /* position: absolute; */
    /* top: 0; */
    margin-left: 1rem;

    /* background-color: green;
    */
    min-width: 500px; /* you might want this to be 'auto' or use flex-grow */
    aspect-ratio: 1/1;
    /* padding: 1rem; */

    &:hover {
        transform: translateY(-2rem) scale(1.2);
    }
}

.ImagesContainer .sub2 {
    /* background-color: orange; */
    /* position: absolute; */
    /* transform: translateX(-10rem); */
    top: 0;
    /* position: absolute; */
    // background-color: red;
    right: 2rem;
    /* background-color: green; */

    height: 60%;
    aspect-ratio: 1/1;
    /* margin: 0rem; */
    padding: 1.5rem;
    transform: translateX(-40%);

    &:hover {
        transform: translateX(-40%) translateY(-2rem) scale(1.2);
    }
}

.cardBody {
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: orange; */
    gap: 1rem;
    /* max-width: 60%; */
    .description {
        // width: 60%;
    }
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .tag {
        padding: 0.3rem 0.75rem;
        font-size: 0.85rem;
        font-weight: 500;
        // color: #f5f5f5;
        border-radius: 999px; /* pill shape */
        border: 1px solid var(--border-color);
        background: rgba(255, 255, 255, 0.05);
        transition: all 0.25s ease;

        &:hover {
            background: rgba(255, 255, 255, 0.15);
            border-color: rgba(255, 255, 255, 0.4);
            /* transform: translateY(-1px); */
        }
    }
}


.ButtonContainer { 
    display: flex;
     gap: 0.5rem;
}