

.mobilecontainer {
  height: 100vh;
  // height: calc(90vh - 4rem);
  // margin-top: 5rem;
  // margin-bottom: 2rem;
  overflow: hidden;

  // background-color: red;
  
  
  // background-color: red;
  padding: 6rem 1rem 10vh 1rem;
}

.sidebyside {
  max-width: 1000px;
  padding: 1rem 4rem;
  height: 60vh;
  max-height: 800px;
  width: 100%;
  gap: 24px;
  display: flex;
}

.sidebyside .content {
  height: 100%;
  width: 80%;
}

.sidebyside .explainer {
  width: 20%;
   height: 100%;
}

.descContent {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.textBlock {
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  transform: translateY(0) scale(1) rotate(0deg);
  transition: 
    transform 0.5s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.5s ease-in-out;
}

.fadeIn {
  opacity: 0;
  transform: translateY(0) scale(1) rotate(0deg);
}

.ready {
  opacity: 1;
}

.startTransparent {
  opacity: 0;
  transform: translateY(30px) scale(0.95) rotate(-2deg);
}

.fadeOut {
  opacity: 0;
  transform: scale(0.95);
}



.sidebyside .textBlock h1 {
  font-size: 19.2px;
  padding-bottom: 12px;
  font-weight: 900;
  color: var(--text-primary);
}

.sidebyside .textBlock p {
  font-size: 16px;
  color: var(--text-secondary);
  padding-bottom: 8px;
  max-width: 420px;
}
