// styles/CollapsableSection.module.scss
.collapsableSection {
  margin-bottom: 1.5rem;
  width: 100%;

  border: 1px solid var(--border-color);
  overflow: hidden;
  position: relative;
 

  transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);



.collapsableHeader { 
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}
  .HeaderContainer {

    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    position: relative;
    z-index: 2;
  }


  


}