html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  // width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Arial, sans-serif;
  background-color: var(--bg);
  color: var(--text-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box; /* The fix */
}

/* Now, if you set */
.element {
  width: 100%;
  padding: 20px; /* The 20px padding is included inside the 100% width */
}