html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
  //max-height: 100vh;
    // width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    color: var(--text-primary);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


.element {
    width: 100%;
    padding: 20px; /* The 20px padding is included inside the 100% width ahhhh */

html,
body {

    overflow-y: hidden;
    overflow-x: hidden;
}}


/* Mobile-specific overrides, beause i cant get jsx ot touch this for some reason */
@media (max-width: 768px) {
  html,
  body,
  #root {
    overflow-y: hidden; /* disable vertical scroll only on mobile */
  }
}


