/* Import variables first */
@import './styles/_variables.scss';
@import './styles/transitions.scss';
@import './styles/interactions';



body {
  margin: 0;
  font-family: Arial, sans-serif;
}
 

 body, #root {
  overflow: hidden;      // prevent scrollbars
  touch-action: none;    // prevent touch scrolling on mobile
  overscroll-behavior: none; // stop overscroll bounce
  height: 100%;
}