.CatalogueCardCompact {
    border: 1px solid var(--border-color);
    border-radius: 16px;
    padding: 1.5rem 1rem;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    position: relative;
    /* cursor: pointer; */
    min-height: 12rem;
    &.EntireCardClickable {
        cursor: pointer;
  
    }
    .CatalogueCardContent {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    transition:
        background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        padding 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    a &.EntireCardClickable {
        cursor: pointer;
    }
    &:hover {
        background-color: var(--bg-l2);
        border-color: var(--text);
        /* cursor: row-resize; */
    }

    .buttonRow {
        /* background-color: red; */
        position: absolute;
        bottom: 4px;
        display: flex;
        gap: 4px;
        right: 4px;
    }

    .mainTag {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        color: var(--accent-color);
        font-weight: 300;
        font-size: 0.9rem;
        letter-spacing: 0.02em;
    }
}

.CatalogueCardLarge {
    border: 1px solid var(--border-color);
    border-radius: 16px;
    padding: 0.5rem 0.5rem;
    display: flex;
    background-color: var(--bg);
    flex-direction: row;
    align-items: flex-start;
    gap: 1.25rem;
    position: relative;
    /* min-height: 12rem; */
    height: 100%;
    transition:
        background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        padding 0.4s cubic-bezier(0.4, 0, 0.2, 1);



    &:hover {
        background-color: var(--bg-l2);
        border-color: var(--text);
    }

    /* === Thumbnail / Background image === */
    .CatalogueCardImage {
        width: 100%;
        height: 100%;

        border-radius: 12px;
        background-size: cover;
        border: 1px solid var(--border-color);
        background-position: center;
        background-repeat: no-repeat;
    }
    .title {
        /* background-color: red; */
        /* margin-top: 1rem; */
        font-weight: 300;
        font-size: clamp(2rem, 2.2rem, 3rem);
    }

    .subtitle {
        font-style: italic;
        font-size: clamp(0.8rem, 1rem, 1.6rem);
        /* margin-top: 0.5rem; */
    }
    .CatalogueCardContent {
        display: flex;
        margin-top: 1rem;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .buttonRow {
        position: absolute;
        bottom: 0.5rem;

        display: flex;
        gap: 4px;
        right: 0.5rem;
    }

    .mainTag {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        color: var(--accent-color);
        font-weight: 300;
        font-size: 0.9rem;
        letter-spacing: 0.02em;
    }

    /* === Tags Section === */

    .tagsRow {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .tag {
            padding: 0.25rem 0.6rem;
            font-size: 0.875rem;
            font-weight: 500;
            color: var(--text-color, #333);
            border-radius: 12px;

            // Long dotted/elongated effect
            border: 1px dashed var(--border-color);
        }
    }
}
