.tile {
  position: relative;
  padding: 1.25rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  border-radius: 0.5rem;
  cursor: pointer;

  border: 1px solid var(--border-color);
  transition: all 0.3s ease;
  // Subtle hover effect with gentle movement and glow
  &:hover {
    // Light shadow for depth
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--text-color);


  }

  .content {
    display: flex;
    align-items: flex-start;
    gap: 1.15rem;
  }

  .iconWrapper {
    position: relative;
    flex-shrink: 0;
    margin-top: 0.15rem;

    .iconGlow {
      position: absolute;
      inset: 0;
      border-radius: 50%;
      background: radial-gradient(
                      circle at center,
                      rgba(255, 215, 0, 0.2),
                      rgba(255, 215, 0, 0.1) 60%,
                      transparent 100%
      );
      opacity: 0;
      transition: opacity 0.4s ease, transform 0.3s ease;
    }

    .iconRelative {
      position: relative;

      .jobIcon {
        width: 2.4rem;
        height: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        svg {
          width: 100%;
          height: 100%;
          color: var(--text-color);
          transition: color 0.3s ease;
        }
      }
    }
  }

  .textContent {
    flex: 1;
    min-width: 0;
    transition: transform 0.3s ease;

    .titleRow {
      display: flex;
      align-items: baseline;
      gap: 0.5rem;
      margin-bottom: 0.2rem;

      .position {
        font-size: 1.45rem;
        font-weight: 300;
        color: var(--text-color);
        transition: color 0.3s ease;
      }
    }

    .meta {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      font-size: 0.78rem;
      opacity: 0.85;

      .dot {
        font-size: 0.8rem;
        opacity: 0.6;
      }

      span {
        color: var(--text-color);
        transition: color 0.3s ease;
      }
    }

    .responsibilities {
      margin-top: 1rem;
      font-size: 0.85rem;
      line-height: 1.4;
      color: var(--text-color);
      list-style: none;
      padding-left: 1.2rem;
      transition: color 0.3s ease;

      li {
        margin-bottom: 0.6rem;
      }
    }

    .techStack {
      display: flex;
      flex-wrap: wrap;
      gap: 0.6rem;
      margin-top: 0.8rem;
      font-size: 0.8rem;
      color: var(--text-color);

      .techItem {
        background-color: var(--secondary-bg-color);
        padding: 0.4rem 0.8rem;
        border-radius: 1rem;
        font-weight: 500;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--primary-color);
          color: #fff;
        }
      }
    }
  }
}
