.ImageFrameWithArrowContainer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 300px;
  gap: 0.5rem;
  //background-color: green;
}

.imageWrapper {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid var(--text-color);

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.arrow {
  width: 80px;
  height: 80px;
  z-index: 100;
  position: absolute;
  bottom: -15%;
  right: 10%;
  transform: translateY(-50%);
  color: red;

  //transform:
}

.flipped {
  transform: translateX(60px)  translateY(-50%) scaleX(-1);
}

.label {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  position: absolute;
  bottom:16%;
  right: 3%;
  transform: translateY(-50%) rotate(-8deg);
  z-index: 101;
  white-space: nowrap;
  font-style: italic;
  color: var(--text-color, #ff6b6b);
  //text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.5px;
  transform: translateX(90px)  translateY(-50%);
}