.button {
  cursor: pointer;
  /* Uncomment and customize if needed */
  // padding: 10px 20px;
  // font-size: 16px;
  // font-weight: 500;
  // border-radius: 5px;
  // display: inline-block;
  // text-align: center;
}

.fillContainer {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  box-sizing: border-box;
}

.textOnly {
  background-color: transparent;
  color: #333;
  border: none;
  font-weight: 500;

  &:hover {
    color: #000;
  }

  &:active {
    color: #444;
  }
}

.basic_Expand {
  display: flex;
  border-radius: 4px;
  align-items: center;
  width: fit-content;
  justify-content: space-around;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: var(--bg);
  padding: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: 1px solid rgb(51, 51, 51);
  // box-shadow: rgb(51, 51, 51) 2px 2px 0 0;

  left: 0;
  top: 0;

  * {
    color: var(--text-color);
  }

  &:hover {
    /* No hover animation */
  }
}

.basic_small {
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: fit-content;
  justify-content: space-around;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: var(--bg);
  padding: 12px 12px 12px 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: 1px solid rgb(51, 51, 51);
  box-shadow: rgb(51, 51, 51) 2px 2px 0 0;
  left: 0;
  top: 0;

  * {
    color: var(--text-color);
  }
}

.article {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding:  12px ;
  display: flex;
  // height: 100%;
  // min-width: 64px;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  position: relative;
  // min-height: 40px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  text-align: center;
  // left: 0;

  // top: 0;
  background-color: var(--bg);
  // background-color: var(--bg-color);
  .expandWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  * {
    color: var(--text-color);
  }
}

.externalCornerIcon {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 0.5rem;
  pointer-events: none;
  z-index: 5;

  svg {
    font-size: inherit;
    color: inherit;
  }
}

.subtleWrapper { 
  // background-color: red;
  border: 1px solid var(--border-color);
  border-radius: 4px;;
  * { 
    // outline: 1px solid red;
  }

  p { 
    padding-top: 2px;

    margin: 0;
  }
  padding: 0.5rem 1rem;
    display: flex;
  align-items: center;

  gap: 12px;
  justify-content: center;
    display: flex;



  svg {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: red;
    
  }
}

