@keyframes popIn {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.pageDotContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  position: absolute;
  flex-direction: column;
  left: 12px;
}

.dotContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--text-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #888;
  }

  &.active {
    background-color: var(--accent-color);
    animation: popIn 0.3s ease;
  }
}